/* The animation code */
@keyframes flip-animation {
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }

}

.image-animation {
  transition: transform 0.5s;
}

.image-animation:hover {
  transform: rotate(360deg);
}
